    <nav class="navbar fixed-top navbar-expand-lg navbar-dark  scrolling-navbar">
      <a class="navbar-brand" href="#">
        <img src="/src/img/IMGBIN_bentley-motors-limited-logo-organization-brand-font-png_MfACdnSV.png" alt="img" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
           {{#each navigationLinks}}
              <li class="nav-item  {{#if this.active}} active  {{/if}}">
                <a class="nav-link" href={{this.url}}>{{this.label}}</a>
              </li>
          {{/each}}
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/BentleyMotors"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/BentleyMotors"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/BentleyMotors/"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>
      </div>
    </nav>