header {
   .navbar{
     min-height:100px;
     background-color: #3A3838;
   }
  .logo{
  width:110px;
  height:90px;
  }
  .navbar-brand{
    padding: 0px;
  }
  .nav-link{
    font-size:17px;
    font-weight: bold;
  }
}
